<!-- <mat-toolbar color="primary">
    Card view demo
  </mat-toolbar> -->
  <h2>Services</h2>

<div class="content">

  <div class="feature">
    <h4>Wireless</h4>
    <ul>
      <li>Plan, design and Implement Wireless Broadband Networks.</li>
      <li>Design feasible link budgets based on business requirements.</li>
      <li>
        Provide site surveys for Broadband wireless and technical solution
        reports.
      </li>
      <li>Properly planning for PTP and PTMP Solution.</li>
      <li>
        Design and Implement Complete Wi-Fi Solutions (Wireless Controller,
        Indoor and Outdoor access points)
      </li>
    </ul>
  </div>


    <div class="feature">
      <h4>Call centers</h4>
      <p>We are providing a unique Contact center and
        support the following features:</p>
        <ul>
            <li>Handle Inbound & Outbound telephony calls.</li>
            <li>Log all the Inbound & Outbound calls to a centralized database.</li>
            <li>Automatic Call Distribution (ACD) & Voice announcement(IVR).</li>
            <li>Active recording for both Inbound & Outbound calls.</li>
            <li>CRM integration and Post Call IVR Survey.</li>
            <li>Computer Telephony Integration (CTI).</li>
            <li>Computer Telephony Integration (CTI)</li>
             <li>Quality Management System with full reported.</li>
          </ul>
    </div>



      <div class="feature">
        <h4>Digital service</h4>
        <p>We are providing a world class unique messaging platform that 
          bundles different types of messaging channels, managed and
           configured in an enterprise portal. The product is supporting
            the following messaging channels:</p>
          <ul>
              <li>Web Chat (From Website, Mobile Application).</li>
              <li>WhatsApp Business (With no limitations for number of agents or transactions).</li>
              <li>Facebook Messenger.</li>
              <li>Email Management.</li>
              <li>SMS (Incoming & Outgoing).</li>
              <li>Surveillance</li>
            </ul>
            <p>All of the above are managed in one platform with fully 
              customized reports and also
              dashboards.</p>
      </div>


      <div class="feature">
        <h4>Converged Network Solutions</h4>
        <ul>
          <li>Plan, design and Implement Unified Communication system.</li>
          <li>Provide one platform for VoIP and Video conference.</li>
          <li>Integrate the overall solution with existing system.</li>
          <li>Using different brands to cover all business size needs.</li>
          <li>Supply the endpoints device IP Phones, video Phones and video conference devices.</li>
          <li>Provide supply and maintenance for VoIP system and endpoints.</li>
        </ul>
      </div>
    
    
        <div class="feature">
          <h4>Network security</h4>
          <p>Protect your data by using :
          </p>
              <ul>
                  <li>UTM firewalls are typically deployed as a single security solution, providing multiple security functions.</li>
                  <li>Web & application firewall.</li>
                  <li>SD-WAN solution.</li>
                  <li>SIEM</li>
                  <li>NAC solution</li>
                  <li>Antivirus and antispam.</li>
                  <li>Load balances.</li>
                </ul>
        </div>
    
    
    
          <div class="feature">
            <h4>Software</h4>
            <p>Our team of developers builds software systems and 
              dynamic web-based applicationsto meet even the most
              complex business needs.We can find solutions to even
              the most complex and demanding problems and
              deliver them on time and on budget.</p>
              <ul>
                  <li>Build ERP systems.</li>
                  <li>CRM system integration.</li>
                  <li>Design and develop websites.</li>
                  <li>Mobile APP development.</li>
                  <li>Responsive website design, fast and secure Web</li>
                  <li>Hosting, SEO, UI/UX design and Web analytics</li>
                  <li>System and APP integration.</li>
                  <li>Business intelligence</li>
                </ul>
          </div>


          <div class="feature">
            <h4>Surveillance</h4>
            <ul>
              <li>Providing a broad range of CCTV and video surveillance
                  products such as digital video recorder, wireless IP camera,
                  CCTV camera system & others to dealers, installers and
                  system integrators.</li>
              <li>Plan, Design and Implement IP CCTV system.</li>
              <li>Provide and supply different IP Cameras.</li>
              <li>Provide supply and support maintenance for
                  CCTV system and cameras.</li>
            </ul>
          </div>













</div>
