
<div class="team-container">

<h2>Our Team</h2>

<ul>
<li>With more than 15 years experience Spectra's team consists
of highly qualified Engineers and professional certified
project managers. 
</li>
<li>Our team will help companies in the
mobility world to carry on their work successfully and
establish trust with our brand.
</li>
<li>The team has years of experience working with some of the
largest brands on the market today.
</li>
<li>All of its members are
working in harmony offering their utmost loyalty and
dedication.
</li> 
<li>Our team has gone beyond products and technology and
willing to offer the localization knowledge and technology
as an added value to any product and/or service that
Spectra will offer.
</li>
</ul>




</div>