<div class="main-container">

  <div id="logo">
   <img src="../../assets/images/logo.png" alt="Spectra">
  </div>
  <div class="features-container">
    <div class="feature">
      <h2>Services</h2>

        <p>We offer a variety of services in many domains including but not limited to the following:</p>
      <ul>
        <li>Network Solutions.</li>
        <li>Network security.</li>
        <li>Call centers.</li>
        <li>Digital service.</li>
        <li>Software Solutions.</li>
        <li>Hardware Equipments.</li>
        <li>Surveillance.</li>
      </ul>
    </div>

   

    <div class="feature">
      <h2>Our Mission</h2>
      <ul>
        <li>
          To Provide the suite of services and products that enable clients to
          strengthen internal control, improve project governance, and be more
          successful and profitable.
        </li>

        <li>
          To hire, empower, and retain the most talented employees committed to
          serving our clients by steering the employees into a common goal and
          ensuring that they build excellent solutions as a strong and respected
          brand.
        </li>
        <li>
          To build a strong and respected brand associated with being a trusted
          corporate strategy which focuses on improving and solving the clients’
          business challenges through technology and innovation.
        </li>
        <li>
          To be the preferred strategic partner with our clients, by delivering
          innovative solutions that will make our clients’ business more
          profitable, and competitive.
        </li>
        
      </ul>
    </div>

    <div class="feature">
        <h2>Our vision</h2>
        <p>
          caring for employees and collaborating with our customers to deliver
          innovative and value-driven ICT products and services. A leading pioneer
          in digital transformation. We take pride in building trust with the
          client.
        </p>
      </div>

  
  </div>
</div>
